.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 20px;
}

.custom {
    color: #333;
    font-size: 1em;
    text-align: center;
}

/* Center the form on the page */
form {
    width: 28em;
    margin: 50px;
    padding: 15px 20px 35px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Style the labels and inputs */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.3em;
    color: #333;
}

input[type="text"],
input[type="email"],
/* input[type="checkbox"], */
input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: large;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the submit button */
button.btn {
    width: 100%;
    padding: 10px;
    background-color: #ff6c6c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.3em;
    cursor: pointer;
}

button.btn:hover {
    background-color: #ff4343;
}

/* Add spacing between form elements */
br {
    margin-bottom: 0px;
}

.feeds {
    padding: 20px;
}


@media (max-width: 768px) {
    .auth-wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #add8e6;
        margin: 0;
    }

    form {
        width: 18em;
        height: auto;
        margin: auto;
        /* padding: 20px; */
    }
}