body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightblue;
  padding: 9px;
  position: relative;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 2.4px 0;
  transition: 0.3s;
}

/* Open hamburger menu */
.line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


nav input {
  width: 250px;
  text-decoration: none;
  padding: 9px;
  font-size: 18px;
  border: none;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 11px;
}

nav button {
  width: 70px;
  height: 38px;
  background-color: blue;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  font-size: 2em;
}

nav ul {
  display: flex;
  gap: 11px;
  list-style-type: none;
}

.navItem {
  margin: 0 15px;
  font-weight: 600;
  font-size: 19px;
  text-decoration: none;
  color: black;
  cursor: default;

}

.navItem:hover {
  text-decoration: underline;
  /* Add underline on hover */
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 41px;
  flex-wrap: wrap;

}

.card {
  width: 320px;
  box-shadow: 0px 4px 4px 4px rgb(255, 255, 255);
  background-color: white;
  border-radius: 3px;
  margin-top: 21px;
  border: 1px solid rgb(236, 236, 236);
}

.card img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}

.card .title {
  font-weight: 600;
  font-size: 18px;
  margin-top: -7px;
}

.card .title:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.card .content {
  padding: 9px;
}

.card button {
  background-color: rgb(29, 162, 214);
  border: none;
  cursor: pointer;
  width: 80px;
  height: 28px;
  color: white;
  font-size: 13px;
  border-radius: 2px;
}

.categoryBtn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 11px;
  padding: 3px;
}

.categoryBtn button {
  gap: 11px;
  width: 130px;
  height: 33px;
  background-color: rgb(255, 108, 108);
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  padding: 2px;
}


.head {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}



@media (max-width: 768px) {
  .navItems {
    display: none;
    flex-direction: column;
    position: relative;
    /* top: 60px; */
    /* left: 0; */
    /* width: 100%; */
    background-color: lightblue;
  }

  .navBar {
    align-items: start;
    justify-content: space-between;
    padding: 5px 30px;
  }

  .navItems.show {
    display: flex;
    align-items: flex-end;
    padding: 15px 0px 0px 0px;
    margin: 0;
  }

  .hamburgerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 10px 10px 10px;
  }

  .hamburger {
    display: flex;
  }

  .navItem {
    margin: 10px 0;
    text-align: center;
  }

  .searchBar {
    margin-top: 10px;
    display: none;
  }
}